@charset "utf-8";

/* 
    Capstone 2019 Project
    West-MEC Websites 
    
    Percision Machining Website
    Author: Caleb Snow
    Date:   3/6/19

    Filename: pm_main.css 
*/


body {
  width: 100%;
  background: #f2b02b;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Photo Carousel */